/*!
 * 
 * Workshop Event Management HTML5 Template v.1.0.0
 * Green Color
 * 
 */


/*** Text Colors
----------------------------------------------------------------- ***/
.logo a .fa, .text-bigger .fa,
.green .logo a .fa, .green .text-bigger .fa,
.green a:hover, .green a:focus,
.green .btn-primary .badge,
.green .text-primary, .green a.text-primary:hover,
.green .main-nav li:hover > a, .green .main-nav li.active > a,
.green .breadcrumb > .active, .green .breadcrumb > .active > a,
.green .team-image:hover a .text-white,
.green .pagination > li > a:hover,
.green .pagination > li > span:hover,
.green .pagination > li > a:focus,
.green .pagination > li > span:focus,
.green .bg-secondary a,
.green .bg-secondary a:hover,
.green .bg-secondary a:focus,
.green .arrow-down, .green .bg-primary .arrow-down,
.green .workshop-nav li.active a, .green .right-part .table-price,
.green .pricing-list li.feature, .green .pricing-stars,
.green .package-selector-form .select-package, .green .site-footer .settings,
.green .meta-list li a, .green .pagination > li > span, .green .widget_archive li,
.green .widget_archive li a, .green .comment-box h5 a {
	color:#0bc165;
}


/*** Background Color
----------------------------------------------------------------- ***/

.green .btn-primary, .green .cart-btn .badge, .green .bg-primary,
.green .progress-bar-primary, .green .nav-pills > li.active > a,
.green .nav-pills > li.active > a:hover, .green .nav-pills > li.active > a:focus,
.green .panel-primary, .green .panel-primary > .panel-heading, .green .panel-default.panel-active,
.green .panel-default.panel-active > .panel-heading, .green .panel-default > .panel-heading .badge,
.green .subscription-form input[type="submit"], .green .logo-box:hover
 {
	background-color: #0bc165;
}

.green ::selection {
	background-color:#0bc165;
}
.green ::-moz-selection {
	background-color:#0bc165;
}


/*** Border Color
----------------------------------------------------------------- ***/

.green .btn-primary,
.green .panel-primary, .green .panel-primary > .panel-heading, .green .panel-primary > .panel-heading + .panel-collapse > .panel-body,
.green .panel-default.panel-active, .green .panel-default.panel-active > .panel-heading,
.green .panel-default.panel-active > .panel-heading + .panel-collapse > .panel-body,
.green .subscription-form input[type="email"]:focus,
.green .subscription-form input[type="text"]:focus, .green .form-control:focus {
	border-color:#0bc165;
}


/*** Disabled colors
----------------------------------------------------------------- ***/

.green .btn-primary.disabled,
.green .btn-primary[disabled],
.green fieldset[disabled] .btn-primary,
.green .btn-primary.disabled:hover,
.green .btn-primary[disabled]:hover,
.green fieldset[disabled] .btn-primary:hover,
.green .btn-primary.disabled:focus,
.green .btn-primary[disabled]:focus,
.green fieldset[disabled] .btn-primary:focus,
.green .btn-primary.disabled.focus,
.green .btn-primary[disabled].focus,
.green fieldset[disabled] .btn-primary.focus,
.green .btn-primary.disabled:active,
.green .btn-primary[disabled]:active,
.green fieldset[disabled] .btn-primary:active,
.green .btn-primary.disabled.active,
.green .btn-primary[disabled].active,
.green fieldset[disabled] .btn-primary.active {
	background-color: #e35d7b;
	border-color: #e35d7b;
}


/*** Secondary colors
----------------------------------------------------------------- ***/

.green .bg-primary a:hover, .green .bg-primary a:focus, .green .widget_archive li:hover, .green .widget_archive li:hover a, .green 
.bg-primary .list-1 li:hover:before, .green .bg-primary .list-2 li:hover:before, .green .widget_archive li:hover:before, .green .widget-categ li:hover:before, .green .comment-box h5 a:hover {
	color: #07733b;
}

.green .bg-secondary, .green .btn-primary:hover, .green .btn-primary:focus, .green .package-selector-form input[type="submit"]:hover, .green .package-selector-form button:hover, .green .pricing-table-box.selected {
	background-color: #07733b;
}

.green .bg-primary .widget-categ-form input[type="text"]:focus, .green .bg-primary .widget-categ-form input[type="search"]:focus {
	border-color: #07733b;
}


/*!
 * 
 * blue color
 * 
 */


/*** Text Colors
----------------------------------------------------------------- ***/
.blue .logo a .fa, .blue .text-bigger .fa,
.blue a:hover, .blue a:focus, .blue .btn-primary .badge, .blue .text-primary, .blue a.text-primary:hover,
.blue .main-nav li:hover > a, .blue .main-nav li.active > a, .blue .breadcrumb > .active,
.blue .breadcrumb > .active > a, .blue .team-image:hover a .text-white, .blue .pagination > li > a:hover,
.blue .pagination > li > span:hover,
.blue .pagination > li > a:focus,
.blue .pagination > li > span:focus,

.blue .bg-secondary a,
.blue .bg-secondary a:hover,
.blue .bg-secondary a:focus,
.blue .arrow-down, .blue .bg-primary .arrow-down,

.blue .workshop-nav li.active a, .blue .right-part .table-price, .blue .pricing-list li.feature, .blue .pricing-stars, .blue .package-selector-form .select-package, .blue .site-footer .settings, .blue .meta-list li a, .blue .pagination > li > span, .blue .widget_archive li, .blue .widget_archive li a, .blue .comment-box h5 a {
	color:#5ac0da;
}


/*** Background Color
----------------------------------------------------------------- ***/

.blue .btn-primary, .blue .cart-btn .badge, .blue .bg-primary, .blue .progress-bar-primary, .blue .nav-pills > li.active > a, .blue .nav-pills > li.active > a:hover, .blue .nav-pills > li.active > a:focus,

.blue .panel-primary, .blue .panel-primary > .panel-heading, .blue .panel-default.panel-active, .blue .panel-default.panel-active > .panel-heading, .blue .panel-default > .panel-heading .badge, .blue .subscription-form input[type="submit"], .blue .logo-box:hover

 {
	background-color: #5ac0da;
}

.blue ::selection {
	background-color:#5ac0da;
}
.blue ::-moz-selection {
	background-color:#5ac0da;
}


/*** Border Color
----------------------------------------------------------------- ***/

.blue .btn-primary, 
.blue .panel-primary, .blue .panel-primary > .panel-heading, .blue .panel-primary > .panel-heading + .panel-collapse > .panel-body,
.blue .panel-default.panel-active, .blue .panel-default.panel-active > .panel-heading, .blue .panel-default.panel-active > .panel-heading + .panel-collapse > .panel-body, .blue .subscription-form input[type="email"]:focus, .blue .subscription-form input[type="text"]:focus, .blue .form-control:focus {
	border-color:#5ac0da;
}


/*** Disabled colors
----------------------------------------------------------------- ***/

.blue .btn-primary.disabled,
.blue .btn-primary[disabled],
.blue fieldset[disabled] .btn-primary,
.blue .btn-primary.disabled:hover,
.blue .btn-primary[disabled]:hover,
.blue fieldset[disabled] .btn-primary:hover,
.blue .btn-primary.disabled:focus,
.blue .btn-primary[disabled]:focus,
.blue fieldset[disabled] .btn-primary:focus,
.blue .btn-primary.disabled.focus,
.blue .btn-primary[disabled].focus,
.blue fieldset[disabled] .btn-primary.focus,
.blue .btn-primary.disabled:active,
.blue .btn-primary[disabled]:active,
.blue fieldset[disabled] .btn-primary:active,
.blue .btn-primary.disabled.active,
.blue .btn-primary[disabled].active,
.blue fieldset[disabled] .btn-primary.active {
	background-color: #9ad8e8;
	border-color: #9ad8e8;
}


/*** Secondary colors
----------------------------------------------------------------- ***/

.blue .bg-primary a:hover, .blue .bg-primary a:focus, .blue .widget_archive li:hover, .blue .widget_archive li:hover a, 
.blue .bg-primary .list-1 li:hover:before, .blue .bg-primary .list-2 li:hover:before, .blue .widget_archive li:hover:before, .blue .widget-categ li:hover:before, .blue .comment-box h5 a:hover {
	color: #2793af;
}

.blue .bg-secondary, .blue .btn-primary:hover, .blue .btn-primary:focus, .blue .package-selector-form input[type="submit"]:hover, .blue .package-selector-form button:hover, .blue .pricing-table-box.selected {
	background-color: #2793af;
}

.blue .bg-primary .widget-categ-form input[type="text"]:focus, .blue .bg-primary .widget-categ-form input[type="search"]:focus {
	border-color: #2793af;
}

/*!
 * 
 * Red color
 * 
 */


/*** Text Colors
----------------------------------------------------------------- ***/
.red .logo a .fa, .red .text-bigger .fa, .red a:hover, .red a:focus, .red .btn-primary .badge, .red .text-primary, .red a.text-primary:hover, .red .main-nav li:hover > a, .red .main-nav li.active > a, .red .breadcrumb > .active, .red .breadcrumb > .active > a, .red .team-image:hover a .text-white, .red .pagination > li > a:hover,
.red .pagination > li > span:hover,
.red .pagination > li > a:focus,
.red .pagination > li > span:focus,

.red .bg-secondary a,
.red .bg-secondary a:hover,
.red .bg-secondary a:focus,
.red .arrow-down, .red .bg-primary .arrow-down,

.red .workshop-nav li.active a, .red .right-part .table-price, .red .pricing-list li.feature, .red .pricing-stars, .red .package-selector-form .select-package, .red .site-footer .settings, .red .meta-list li a, .red .pagination > li > span, .red .widget_archive li, .red .widget_archive li a, .red .comment-box h5 a {
	color:#d72849;
}


/*** Background Color
----------------------------------------------------------------- ***/

.red .btn-primary, .red .cart-btn .badge, .red .bg-primary, .red .progress-bar-primary, .red .nav-pills > li.active > a, .red .nav-pills > li.active > a:hover, .red .nav-pills > li.active > a:focus,

.red .panel-primary, .red .panel-primary > .panel-heading, .red .panel-default.panel-active, .red .panel-default.panel-active > .panel-heading, .red .panel-default > .panel-heading .badge, .red .subscription-form input[type="submit"], .red .logo-box:hover

 {
	background-color: #d72849;
}

.red ::selection {
	background-color:#d72849;
}
.red ::-moz-selection {
	background-color:#d72849;
}


/*** Border Color
----------------------------------------------------------------- ***/

.red .btn-primary, 
.red .panel-primary, .red .panel-primary > .panel-heading, .red .panel-primary > .panel-heading + .panel-collapse > .panel-body,
.red .panel-default.panel-active, .red .panel-default.panel-active > .panel-heading, .red .panel-default.panel-active > .panel-heading + .panel-collapse > .panel-body, .red .subscription-form input[type="email"]:focus, .red .subscription-form input[type="text"]:focus, .red .form-control:focus {
	border-color:#d72849;
}


/*** Disabled colors
----------------------------------------------------------------- ***/

.red .btn-primary.disabled,
.red .btn-primary[disabled],
.red fieldset[disabled] .btn-primary,
.red .btn-primary.disabled:hover,
.red .btn-primary[disabled]:hover,
.red fieldset[disabled] .btn-primary:hover,
.red .btn-primary.disabled:focus,
.red .btn-primary[disabled]:focus,
.red fieldset[disabled] .btn-primary:focus,
.red .btn-primary.disabled.focus,
.red .btn-primary[disabled].focus,
.red fieldset[disabled] .btn-primary.focus,
.red .btn-primary.disabled:active,
.red .btn-primary[disabled]:active,
.red fieldset[disabled] .btn-primary:active,
.red .btn-primary.disabled.active,
.red .btn-primary[disabled].active,
.red fieldset[disabled] .btn-primary.active {
	background-color: #e66e85;
	border-color: #e66e85;
}


/*** Secondary colors
----------------------------------------------------------------- ***/

.red .bg-primary a:hover, .red .bg-primary a:focus, .red .widget_archive li:hover, .red .widget_archive li:hover a, 
.red .bg-primary .list-1 li:hover:before, .red .bg-primary .list-2 li:hover:before, .red .widget_archive li:hover:before, .red .widget-categ li:hover:before, .red .comment-box h5 a:hover {
	color: #a21a34;
}

.red .bg-secondary, .red .btn-primary:hover, .red .btn-primary:focus, .red .package-selector-form input[type="submit"]:hover, .red .package-selector-form button:hover, .red .pricing-table-box.selected {
	background-color: #a21a34;
}

.red .bg-primary .widget-categ-form input[type="text"]:focus, .red .bg-primary .widget-categ-form input[type="search"]:focus {
	border-color: #a21a34;
}

/*!
 * 
 * Purpule color
 * 
 */


/*** Text Colors
----------------------------------------------------------------- ***/
.purple .logo a .fa, .purple .text-bigger .fa, .purple a:hover, .purple a:focus, .purple .btn-primary .badge,
.purple .text-primary, .purple a.text-primary:hover, .purple .main-nav li:hover > a,
.purple .main-nav li.active > a, .purple .breadcrumb > .active, .purple .breadcrumb > .active > a,
.purple .team-image:hover a .text-white, .purple .pagination > li > a:hover,
.purple .pagination > li > span:hover,
.purple .pagination > li > a:focus,
.purple .pagination > li > span:focus,
.purple .bg-secondary a,
.purple .bg-secondary a:hover,
.purple .bg-secondary a:focus,
.purple .arrow-down, .purple .bg-primary .arrow-down,
.purple .workshop-nav li.active a,
.purple .right-part .table-price, .purple .pricing-list li.feature, .purple .pricing-stars, .purple .package-selector-form .select-package, .purple .site-footer .settings, .purple .meta-list li a, .purple .pagination > li > span, .purple .widget_archive li, .purple .widget_archive li a, .purple .comment-box h5 a {
	color:#8d6cbf;
}


/*** Background Color
----------------------------------------------------------------- ***/

.purple .btn-primary, .purple .cart-btn .badge, .purple .bg-primary, .purple .progress-bar-primary, .purple .nav-pills > li.active > a, .purple .nav-pills > li.active > a:hover, .purple .nav-pills > li.active > a:focus,

.purple .panel-primary, .purple .panel-primary > .panel-heading, .purple .panel-default.panel-active, .purple .panel-default.panel-active > .panel-heading, .purple .panel-default > .panel-heading .badge, .purple .subscription-form input[type="submit"], .purple .logo-box:hover

 {
	background-color: #8d6cbf;
}

.purple ::selection {
	background-color:#8d6cbf;
}
.purple ::-moz-selection {
	background-color:#8d6cbf;
}


/*** Border Color
----------------------------------------------------------------- ***/

.purple .btn-primary, 
.purple .panel-primary, .purple .panel-primary > .panel-heading, .purple .panel-primary > .panel-heading + .panel-collapse > .panel-body,
.purple .panel-default.panel-active, .purple .panel-default.panel-active > .panel-heading, .purple .panel-default.panel-active > .panel-heading + .panel-collapse > .panel-body, .purple .subscription-form input[type="email"]:focus, .purple .subscription-form input[type="text"]:focus, .purple .form-control:focus {
	border-color:#8d6cbf;
}


/*** Disabled colors
----------------------------------------------------------------- ***/

.purple .btn-primary.disabled,
.purple .btn-primary[disabled],
.purple fieldset[disabled] .btn-primary,
.purple .btn-primary.disabled:hover,
.purple .btn-primary[disabled]:hover,
.purple fieldset[disabled] .btn-primary:hover,
.purple .btn-primary.disabled:focus,
.purple .btn-primary[disabled]:focus,
.purple fieldset[disabled] .btn-primary:focus,
.purple .btn-primary.disabled.focus,
.purple .btn-primary[disabled].focus,
.purple fieldset[disabled] .btn-primary.focus,
.purple .btn-primary.disabled:active,
.purple .btn-primary[disabled]:active,
.purple fieldset[disabled] .btn-primary:active,
.purple .btn-primary.disabled.active,
.purple .btn-primary[disabled].active,
.purple fieldset[disabled] .btn-primary.active {
	background-color: #b6a9c9;
	border-color: #b6a9c9;
}


/*** Secondary colors
----------------------------------------------------------------- ***/

.purple .bg-primary a:hover, .purple .bg-primary a:focus, .purple .widget_archive li:hover, .purple .widget_archive li:hover a, 
.purple .bg-primary .list-1 li:hover:before, .purple .bg-primary .list-2 li:hover:before, .purple .widget_archive li:hover:before, .purple .widget-categ li:hover:before, .purple .comment-box h5 a:hover {
	color: #6438a5;
}

.purple .bg-secondary, .purple .btn-primary:hover, .purple .btn-primary:focus, .purple .package-selector-form input[type="submit"]:hover, .purple .package-selector-form button:hover, .purple .pricing-table-box.selected {
	background-color: #6438a5;
}

.purple .bg-primary .widget-categ-form input[type="text"]:focus, .purple .bg-primary .widget-categ-form input[type="search"]:focus {
	border-color: #6438a5;
}

/*!
 * 
 * Orange color
 * 
 */


/*** Text Colors
----------------------------------------------------------------- ***/
.orange .logo a .fa, .orange .text-bigger .fa, .orange a:hover, .orange a:focus, .orange .btn-primary .badge, .orange .text-primary, .orange a.text-primary:hover, .orange .main-nav li:hover > a, .orange .main-nav li.active > a, .orange .breadcrumb > .active, .orange .breadcrumb > .active > a, .orange .team-image:hover a .text-white, .orange .pagination > li > a:hover,
.orange .pagination > li > span:hover,
.orange .pagination > li > a:focus,
.orange .pagination > li > span:focus,

.orange .bg-secondary a,
.orange .bg-secondary a:hover,
.orange .bg-secondary a:focus,
.orange .arrow-down, .orange .bg-primary .arrow-down,

.orange .workshop-nav li.active a, .orange .right-part .table-price, .orange .pricing-list li.feature, .orange .pricing-stars, .orange .package-selector-form .select-package, .orange .site-footer .settings, .orange .meta-list li a, .orange .pagination > li > span, .orange .widget_archive li, .orange .widget_archive li a, .orange .comment-box h5 a {
	color:#fb4e31;
}


/*** Background Color
----------------------------------------------------------------- ***/

.orange .btn-primary, .orange .cart-btn .badge, .orange .bg-primary, .orange .progress-bar-primary, .orange .nav-pills > li.active > a, .orange .nav-pills > li.active > a:hover, .orange .nav-pills > li.active > a:focus,

.orange .panel-primary, .orange .panel-primary > .panel-heading, .orange .panel-default.panel-active, .orange .panel-default.panel-active > .panel-heading, .orange .panel-default > .panel-heading .badge, .orange .subscription-form input[type="submit"], .orange .logo-box:hover

 {
	background-color: #fb4e31;
}

.orange ::selection {
	background-color:#fb4e31;
}
.orange ::-moz-selection {
	background-color:#fb4e31;
}


/*** Border Color
----------------------------------------------------------------- ***/

.orange .btn-primary, 
.orange .panel-primary, .orange .panel-primary > .panel-heading, .orange .panel-primary > .panel-heading + .panel-collapse > .panel-body,
.orange .panel-default.panel-active, .orange .panel-default.panel-active > .panel-heading, .orange .panel-default.panel-active > .panel-heading + .panel-collapse > .panel-body, .orange .subscription-form input[type="email"]:focus, .orange .subscription-form input[type="text"]:focus, .orange .form-control:focus {
	border-color:#fb4e31;
}


/*** Disabled colors
----------------------------------------------------------------- ***/

.orange .btn-primary.disabled,
.orange .btn-primary[disabled],
.orange fieldset[disabled] .btn-primary,
.orange .btn-primary.disabled:hover,
.orange .btn-primary[disabled]:hover,
.orange fieldset[disabled] .btn-primary:hover,
.orange .btn-primary.disabled:focus,
.orange .btn-primary[disabled]:focus,
.orange fieldset[disabled] .btn-primary:focus,
.orange .btn-primary.disabled.focus,
.orange .btn-primary[disabled].focus,
.orange fieldset[disabled] .btn-primary.focus,
.orange .btn-primary.disabled:active,
.orange .btn-primary[disabled]:active,
.orange fieldset[disabled] .btn-primary:active,
.orange .btn-primary.disabled.active,
.orange .btn-primary[disabled].active,
.orange fieldset[disabled] .btn-primary.active {
	background-color: #fc7862;
	border-color: #fc7862;
}


/*** Secondary colors
----------------------------------------------------------------- ***/

.orange .bg-primary a:hover, .orange .bg-primary a:focus, .orange .widget_archive li:hover, .orange .widget_archive li:hover a, 
.orange .bg-primary .list-1 li:hover:before, .orange .bg-primary .list-2 li:hover:before, .orange .widget_archive li:hover:before, .orange .widget-categ li:hover:before, .orange .comment-box h5 a:hover {
	color: #cc2a0f;
}

.orange .bg-secondary, .orange .btn-primary:hover, .orange .btn-primary:focus, .orange .package-selector-form input[type="submit"]:hover, .orange .package-selector-form button:hover, .orange .pricing-table-box.selected {
	background-color: #cc2a0f;
}

.orange .bg-primary .widget-categ-form input[type="text"]:focus, .orange .bg-primary .widget-categ-form input[type="search"]:focus {
	border-color: #cc2a0f;
}