@charset utf-8;

.show-panel i {
    color: #232c3b;
    font-size: 24px;
    line-height: 22px;
    padding: 35%;
}
.panel-head
{
	background: none repeat scroll 0 0 #27294d;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    padding-left: 16px;
    padding-top: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;	
}
.colorpanel {
    background: none repeat scroll 0 0 #f9f9f9;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: none;
    position: fixed;
    top: 235px;
    width: 175px;
    z-index: 100;
}
.show-panel {
    background: none repeat scroll 0 0 #f9f9f9;
    cursor: pointer;
    height: 75px;
    position: fixed;
    top: 165px;
    width: 75px;
    z-index: 100;
}
.colorpanel h3 {
    color: #FFF;
	padding:5px;
    font-weight:300;
}
.colorpanel-container {
    background: none repeat scroll 0 0 #f9f9f9;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    float: left;
    font-size: 14px;
    outline: medium none;
    width: 100%;
	padding:20px
}
.color-switch {
   
   padding-bottom: 15px;
}
.color-switch li {
    height: 30px;
    margin: 10px 0 0 10px;
}
.color-switch li a {
    color: #fff;
    display: block;
    float: left;
    font-weight: 300;
    height: 100%;
    position: relative;
    text-transform: capitalize;
    width: 100%;
    z-index: 10;
	font-family: 'Montserrat',sans-serif;
}
.color-switch:last-child {
	border:none;
}
.color-switch li .active
{
	color: #000;
}
.main-color {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.main-color .title {
    color: #232c3b;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
	font-weight: 700;
}

.colorpanel .colours-wrapper .entry.active::after {
    opacity: 1;
}
.colorpanel .colours-wrapper .entry::after, .colorpanel .colours-wrapper .bg-style::after {
    border: 3px solid #232c3b;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.colorpanel .colours-wrapper .entry, .colorpanel .colours-wrapper .bg-style {
    cursor: pointer;
    height: 30px;
    margin-bottom: 10px;
    position: relative;
}
.entry {
    float: left;
    margin-right: 10px;
    width: 30px;
}

.green {
    background-color: #0bc165;
}
.blue {
    background-color: #5ac0da;
}
.purple {
    background-color: #8d6cbf;
}
.orange {
    background-color: #fb4e31;
}
.red {
    background-color: #d72849;
}