/*!
 * 
 * Workshop Event Management HTML5 Template v.1.0.0
 * 
 */


@media (min-width: 480px) {

.workshop-nav li {
  width: 33.333%;
}

.pricing-list li {
  line-height: 2;
}

.package-selector-form > div div + div {
	margin-top: 0px;
}


}

@media (min-width: 768px) {

/*** Main-nav ***/
.main-nav-bar .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.main-nav li {
	padding: 0px;
}
.main-nav > li {
	float: left;
	border-top: 0px;
}
.main-nav > li + li {
	border-top: 0px;
}
.main-nav li a {
	text-transform: none;
}
.main-nav > li > a {
	padding: 10px 12px;
}

.top-nav-bar {
	width: 100%;
  height: auto;
	text-align: center;
  background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	color: #fff;

  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  
}
.top-nav-bar .main-nav {
	display: inline-block;
}
.top-nav-bar .main-nav li a {
	color: inherit;
}

.main-bar {
	padding: 12px 0px;
	border-bottom: 6px solid #efefef;
	position: relative;
	top: -78px;
	transition: margin-top 0.3s cubic-bezier(0.1, 0.7, 1.0, 1.0);
	-moz-transition: margin-top 0.3s cubic-bezier(0.1, 0.7, 1.0, 1.0);
	-webkit-transition: margin-top 0.3s cubic-bezier(0.1, 0.7, 1.0, 1.0);
}
.main-bar .logo {
	float: left;
  display: block;
}
.main-bar .main-nav-bar {
	float: right;
}
.bar-sticking {
	width: 100%;
  margin-top: -80px;
	z-index: -1;
	position: relative;
	left: 0;
  top: 0px;
}
.scrolled .bar-sticking {
  margin-top:0;
	z-index: 100;
	position: fixed;
}
.small-tpBar,
.nav-tablet {
  display: none;
}


.discover-container {
  padding: 40px 30px 0px 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.discover-container .row {
  display: block;
}


.list-1 {
  margin-bottom: 30px;
}

.slider-container,
.slider-list li.item {
  height: 600px;
}
.slider-list > li,
.slider-list li.item {
  padding-bottom: 260px;
}
.slider-list .h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.text-big {
  font-size: 26px;
}
.text-bigger > img,
.item .text-bigger > img {
  width: 300px;
}
.text-bigger {
  margin-bottom: 15px;
  font-size: 50px;
}

.btn-discover {
  bottom: 265px;
} 
.arrow-down {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -25px;
  font-size: 36px;
  top: -25px;
}


.main-banner {
  padding: 120px 0px;
}

.section {
  padding: 160px 0px 80px 0px;
}
.section-compact {
  padding: 60px 0px;
}


/*** workshop area ***/
.workshop-nav li {
  width: 25%;
}

.events-list .media-left {
  padding-right: 60px;
}
.events-list .media-left img {
  width: 116px;
}

.events-section .caro-prev,
.events-section .caro-next {
  opacity: 1;
  visibility: visible;
}

.site-footer p {
	margin-bottom: 0;
  float: left;
}
.site-footer .settings {
  margin-left: -15px;
  position: absolute;
  top:25px;
  left: 50%;
}
.site-footer .social-icons {
  float: right;
}

.user-comments-list li ul {
  padding-left: 30px;
}



}

@media (min-width: 992px) {

.workshop-nav li {
  width: 33.333%;
}
.workshop-nav li a:after {
	margin-left: 0px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 0px solid #787878;
	border-right: 0px;
  bottom: auto;
  left: auto;
  top: 50%;
  right: 0px;
}
.workshop-nav li a:after {
  border-left-color: #fff;
}
.workshop-nav li.active a:after {
  border-left-width: 8px;
  right: -8px;
}

.package-text-section,
.package-text-section div,
.package-selector-form .form-elements,
.package-selector-form .form-group {
  display: inline-block;
  vertical-align: middle;
}
.package-selector-form > div + div,
.package-selector-form > div:last-child {
  margin-top: 0px;
}
.package-selector-form input[type="text"],
.package-selector-form input[type="email"],
.package-selector-form .select-package {
  height: 60px;
}
.package-selector-form input[type="submit"],
.package-selector-form button {
  height: 60px;
}
.package-selector-form .select-package {
  padding: 10px 30px;
  line-height: 40px;
}


}

@media (min-width: 1200px) {


.slider-container,
.slider-list li.item {
  height: 905px;
}
.slider-list .h3 {
  font-size: 30px;
}
.text-big {
  font-size: 36px;
}
.text-bigger > img,
.item .text-bigger > img {
  width: auto;
}
.slider-list .h3 {
  margin-bottom: 20px;
}
.text-bigger {
  margin-bottom: 20px;
  font-size: 70px;
}


.btn-discover {
  padding: 10px 30px;
  margin-left: -60px;
  text-transform: uppercase; 
  border-radius: 10px;
  bottom: 300px;
} 
.arrow-down {
  width: 78px;
  height: 78px;
  line-height: 78px;
  margin-left: -39px;
  font-size: 46px;
  top: -39px;
}


.discover-bx {
  text-align: left;
}
.discover-bx .iconic {
  margin-right: 24px;
  float: left;
}

.workshop-nav {
  margin-left: -15px;
  margin-right: -15px;
}
.workshop-nav li {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.package-text-section div,
.package-selector-form .form-elements div {
  padding-left: 15px;
  padding-right: 15px;
}

.main-banner {
  padding: 160px 0px;
}
.scrolling-area {
  max-height: 230px;
}

}

@media (min-width: 1300px) {


.discover-container {
  padding: 90px 60px 60px 60px;
  margin-left: -60px;
  margin-right: -60px;
}
.discover-bx .text h4 {
  font-size: 24px;
  line-height: 1.2;
}
.discover-bx .text p {
  font-size: 14px;
}

.btn-discover {
  bottom: 350px;
}



}

@media (min-width: 1400px) {
.main-banner {
  padding: 200px 0px;
}

}