/*!
 * 
 * Workshop Event Management HTML5 Template v.1.0.0
 * 
 */


/*
[Table of contents]

1. General Styles
   i.  Transitions
   ii. psuedo classes
   iii. List Style
   iv.  caro buttons
   v.   sections
2. Home Slider
3. main-bar
4. main-nav
5. Workshop Section
6. synced carousel
7. Discover section
8. Subscription Section
9. Tweets Block
10. Parterners Section
11. Pricing Table Section
12. Package Selector Section
13. Site Footer
14. Blog Page
    i. main-banner
    ii. title-bar
    iii. blog-box
    iv. social-bar
    v. user-comments
15. widgets
    i. widget-recent-posts
    ii. widget-categ

*/


/*** General Styles
----------------------------------------------------------------- ***/

::selection {
  color:#fff;
}
::-moz-selection {
  color:#fff;
}


/*** Transitions ****/
a,
.btn,
.top-nav-bar,
.nav-tablet,
.button-lines,
.panel,
.panel-heading,
.panel-body,
.workshop-nav li a:after,
.caro-prev,
.caro-next,
.logo-box,
.logo-box *,
.pricing-table-box,
#sync2 .owl-item .item img,
.blog-list > li:before,
.widget-categ li:before,
.bg-primary .widget-categ-form input[type="text"],
.bg-primary .widget-categ-form input[type="search"] {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

/*** psuedo classes ***/
.main-nav:before, .main-nav:after,
.workshop-nav:before, .workshop-nav:after,
.logo-box-container:before, .logo-box-container:after,
.discover-bx:before, .discover-bx:after {
  display: table;
  content: '';
}
.main-nav:after,
.workshop-nav:after,
.logo-box-container:after,
.discover-bx:after {
  clear: both;
}


/*** List Style ****/
.tp-bar ul,
.main-nav,
.list-1,
.workshop-nav,
.pricing-list,
.social-icons,
.meta-list,
.blog-list,
.widget ul,
.user-comments-list,
.user-comments-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-1,
.list-2 {
  margin-bottom: 20px;
}

.list-1 li,
.list-2 li,
.widget_archive li,
.widget-categ li {
  padding-left: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  position: relative;
}
.list-1 li:before,
.list-2 li:before,
.widget_archive li:before,
.widget-categ li:before {
  font-family:'FontAwesome';
  content: '\f101';
  font-weight: 400;
  position: absolute;
  left: 0;
}
.list-2 li:before,
.widget_archive li:before,
.widget-categ li:before {
  content: '\f0da';
}

.image img {
  width: 555px;
  height: 247px;
  display: block;
}

.ico-r-space {
  margin-right: 5px;
}
.ico-l-space {
  margin-left: 5px;
}

/*** caro buttons ***/
.caro-prev,
.caro-next {
  display: inline-block;
  cursor: pointer;
  transform: scale(1,1);
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
}
.caro-prev:hover,
.caro-next:hover {
  transform: scale(1.3,1.3);
  -moz-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
}
.caro-prev:before,
.caro-next:before {
  display: inline-block;
  font-family:'FontAwesome';
  font-size: 48px;
  line-height: 1;
  content: '\f104';
  pointer-events: none;
}
.caro-next:before {
  content: '\f105';
}

/*** sections ***/
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-compact {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-parallax,
.section-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.section-parallax {
  background-attachment: fixed;
  -moz-background-attachment: fixed;
  -webkit-background-attachment: fixed;
}
.no-padding-bottom {
  padding-bottom: 0px;
}

/*** Home Slider ***/

.fullscreen,
.fullscreen body,
.fullscreen .pageWrap,
.fullscreen-container {
  height: 100%;
}

.home-slider {
  width: 100%;
  height: 100%;
  display: table;
}
.home-slider-inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.slider-container {
  height: 330px;
  position: relative;
}
.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider-list > li,
.slider-list li.item,
.main-banner {
  padding: 30px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.slider-list > li,
.slider-list li.item {
  height: 330px;
  padding-bottom: 100px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-list .h3,
.main-banner .h3,
.text-bigger,
.text-big {
  font-family: 'Lato', sans-serif;
  color: #fff;
}
.slider-list .h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
.text-big {
  font-size: 20px;
}
.text-bigger > img,
.item .text-bigger > img {
  width: 200px;
  display: inline-block;
}
.text-bigger {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.text-bigger .fa {
  font-size: 1.2em;
}


.bannercontainer {
  width:100%;
  position:relative;
  padding:0; 
}
.tp-banner {
  width:100%;
  position:relative;
}
.tp-banner ul {
  padding: 0;
  margin-right: 0;
  list-style: none;
}
.bannercontainer .tp-bannertimer {
  height: 1px;
}
.text-white {
  color: #fff;
}


/*** Main-nav ***/
body.menu-opened {
 	overflow: hidden;
}
.top-nav-bar {
  padding: 30px 0px;
	background-color: #fff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
	height: 100%;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: calc(100% - 80px);
	z-index: 100;

	transform: translateX(100%);
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
}
body.menu-opened .top-nav-bar {
	box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);

	transform: translateX(0);
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
}


/*** nav-tablet ***/

.nav-tablet {
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 98;

    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-opened-2 .nav-tablet {
    visibility: visible;
    opacity: 1;
}
.menu-opened-2 {
  height: 100%;
  overflow: hidden;
}
.nav-tablet .container {
  max-height: 100%;
  padding-right: 50px;
  margin-right: -50px;
  overflow-y: scroll;
}
.nav-tablet .main-nav {
  float: right;
}
.nav-tablet .main-nav li {
  padding: 0;
}
.nav-tablet .main-nav li + li {
  border-top: 0;
}
.nav-tablet .main-nav li a {
  padding: 5px 0px;
  line-height: 1.5;
  color: #fff;
  font-size: 1.6em;
}


/*** small-tpBar ***/
.small-tpBar {
  width: 100%;
  padding: 10px 20px;
  z-index: 98;
  position: absolute;
  left: 0;
  top: 60px;
  transform: translateY(-60px);
  transition: transform 0.4s ease-in-out;
}
.scrolled .small-tpBar {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.small-tpBar .logo {
  padding-top: 3px;
  float: left;
  display: none;
}
.scrolled .small-tpBar .logo {
  display: block;
}

.small-tpBar-2 {
  z-index: 99;
}
.menu-opened-2 .small-tpBar-2,
.menu-opened-2.scrolled .small-tpBar-2 {
  background-color: transparent;
  box-shadow: none;
}


.trigger-menu {
	width: 38px;
	height: 34px;
	padding: 6px 5px;
	border: 2px solid rgba(255,255,255,0.4);
	border-radius: 6px;
	display: block;
	cursor: pointer;
  float: right;
}
.trigger-menu .button-lines,
.trigger-menu-2 .button-lines {
	width: 25px;
	height: 2px;
	margin: 3px 0px;
	display: block;
	background-color: rgba(255,255,255,0.4);
}
.scrolled .trigger-menu {
	border-color: rgba(0,0,0,0.75);
}
.scrolled .trigger-menu .button-lines,
.scrolled .trigger-menu-2 .button-lines {
	background-color: rgba(0,0,0,0.75);
}

.trigger-menu-2 {
  width: 38px;
  height: 34px;
  padding: 0px 5px;
  display: block;
  cursor: pointer;
  float: right;
}
.trigger-menu-2 .button-lines {
  width: 26px;
  height: 3px;
  margin: 6px 0px;
  border-radius: 3px;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);

  transform-origin:left center;
  -moz-transform-origin:left center;
  -webkit-transform-origin:left center;
}
.menu-opened-2 .trigger-menu-2 .button-lines {
  background-color: rgba(255,255,255,0.8);
}
.menu-opened-2 .trigger-menu-2 .button-lines:first-child {
  transform: rotate(45deg);
}
.menu-opened-2 .trigger-menu-2 .button-lines:last-child {
  transform: rotate(-45deg);
}
.menu-opened-2 .trigger-menu-2 .button-lines:nth-child(2) {
  opacity: 0;
}
.menu-opened-2 .small-tpBar-2 .logo {
  opacity: 0;
}

.overlay {
	width: 0;
	height: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	z-index: 99;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	
	-webkit-transition: opacity 0.8s ease 0.2s;
	transition: opacity 0.4s ease 0.2s;
}
body.menu-opened .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
}

.main-bar {
  position: relative;
  background-color: #fff;
}
.main-bar .logo {
  display: none;
}
.logo a {
  color: #212526;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.logo a:hover,
.logo a:focus {
  text-decoration: none;
  color: #212526;
}


.main-nav li {
  padding: 0px 10px;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.main-nav li + li {
  border-top: 1px solid #efefef;
}
.main-nav li a {
  padding: 10px 0px;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
}
.main-nav li a:hover {
  text-decoration: none;
}

.main-bar .logo > a {
  padding: 12px 0px;
  display: block;
}


/*** Workshop Section ***/

#schedule
{
    background-color: #FFFFFF;
}
.workshop-nav {
  margin-left: -10px;
  margin-right: -10px;
}
.workshop-nav li {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  float: left;
}
.workshop-nav li a {
  padding: 15px 20px;
  text-align: center;
  font-weight: 600;
  display: block;
  border: 1px solid #787878;
  background-color: transparent;
  position: relative;
}
.workshop-nav li.active a {
  background-color: #fff;
}
.workshop-nav li a:after {
  width: 0px;
  height: 0px;
  margin-left: -8px;
  display: inline-block;
  content: '';
  border-top: 0px solid #787878;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  left: 50%;
  bottom: 0px;
}
.workshop-nav li a:hover,
.workshop-nav li a:focus {
  text-decoration: none;
}
.bg-primary .workshop-nav li a {
  border-color: #fff;
}
.workshop-nav li a:after {
  border-top-color: #fff;
}
.workshop-nav li.active a:after {
  border-top-width: 8px;
  bottom: -8px;
}


.schedule-info {
  margin-bottom: 60px;
}
.schedule-info p {
  margin-bottom: 36px;
}


.events-section {
  position: relative;
}
.events-section .media {
  width: 650px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.events-list .media-left {
  padding-right: 20px;
}
.events-list .media-left img {
  width: 80px;
  max-width: 116px;
}

.events-list .media-body .media-heading,
.events-list .media-body p {
  margin-bottom: 0;
}
.events-section .caro-prev,
.events-section .caro-next {
  margin-top: -24px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
}
.events-section .caro-next {
  left: auto;
  right: 0;
}

/*** synced carousel ***/

#sync2 {
  padding: 30px 0px;
}
#sync2 .owl-item {
  padding-left: 15px;
  padding-right: 15px;
}
#sync2 .owl-item .item {
  background-color: #212526;
}
.item img {
  display: block;
}
#sync2 .owl-item .item img {
  opacity:.5;
  cursor: pointer;
}
#sync2 .owl-item.synced .item img {
  opacity:1;
}

.slider .item {
  position: relative;
}
.video-button-play,
.video-button-pause {
  margin-left: -55px;
  margin-top: -68px;
  font-size: 130px;
  line-height: 1em;
  color: rgba(255,255,255,0.4);
  z-index: 16;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
}
.active .video-button-play,
.video-button-pause,
.active.paused-vid .video-button-pause {
  z-index: -1;
}
.active.paused-vid .video-button-play,
.active .video-button-pause {
  z-index: 16;
}

.slider .item video {
  width: 100%;
  display: block;
  z-index: -1;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
}
.slider .item.active video {
  z-index: 15;
}


/*** Discover section ***/
.discover-container-outer {
  width: 100%;
  z-index: 90;
  position: absolute;
  bottom: 0;
  left: 0;
}
.discover-container {
}
.discover-container .row {
	display: none;
}
.discover-bx {
  margin-bottom: 30px;
  text-align: center;
}
.discover-bx .iconic {
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: auto auto 10px auto;
  text-align: center;
  font-size: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.bg-primary .discover-bx .iconic,
.bg-secondary .discover-bx .iconic {
  border-color: #fff;
}
.discover-bx .text {
	padding-top: 8px;
}
.discover-bx .text h4,
.discover-bx .text p {
  margin-bottom: 0px;
}

.btn-discover {
	padding: 8px 20px;
  margin-left: -46px;
	text-transform: lowercase;
  z-index: 90;
  border-radius: 6px;
  position: absolute;
  bottom: 90px;
  left: 50%;
}
.btn-discover:hover,
.btn-discover:focus {
  outline: 0;
}
.arrow-down {
	width: 45px;
	height: 45px;
	line-height: 45px;
	margin-left: -22.5px;
	font-size: 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	display: block;
	z-index: 90;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: -70px;
}


/*** Subscription Section ***/

.subscription-block,
.tweets-block {
  width: 570px;
  max-width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.subscription-form {
  position: relative;
}
.subscription-form input[type="email"],
.subscription-form input[type="text"] {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: #fff;
  display: block;
  border-radius: 15px;
}
.subscription-form input[type="text"]:focus,
.subscription-form input[type="submit"]:focus {
  outline: 0px;
  -webkit-appearance: none;
}
.subscription-form .send-form,
.subscription-form input[type="submit"] {
  width: 110px;
  height: 60px;
  text-align: center;
  border: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0 12px 12px 0;
  font: 0/0 a;
  color: transparent; 
}
.subscription-form .send-form:before {
  font-family:'FontAwesome';
  content: '\f0e0';
  position: relative;
  font-size: 13px;
  line-height: 60px;
  color: #fff;
  z-index: 12;
  pointer-events: none;
}

/*** Tweets Block ***/

.tweets-block {
  margin-bottom: 0;
  text-align: left;
}
.tweets-block > h4 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}
.carousel-tweets {
  padding-left: 85px;
  position: relative;
}
.carousel-tweets:before {
  font-family:'FontAwesome';
  content: '\f099';
  font-size: 48px;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: 0;
  left: 18px;
}

.scrolling-area {
  max-height: 300px;
}

/*** Parterners Section ***/

.logo-box {
  width: 100%;
  padding: 30px;
  color: #212526;
  text-align: center;
  float: left;
  background-color: #fff;
}
.logo-box:hover {
  color: #fff;
}
.logo-box * {
  opacity: .3;
}
.logo-box:hover * {
  opacity: 1;
}
.logo-box > figure {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}
.logo-box > figure > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.logo-box > figure > img:last-child {
  position: absolute;
  top: 0;
}
.logo-box > figure > img:first-child,
.logo-box:hover > figure > img:last-child {
  opacity: 1;
  visibility: visible;
}
.logo-box:hover > figure > img:first-child,
.logo-box > figure > img:last-child {
  opacity: 0;
  visibility: hidden;
}
.logo-box h4 {
  text-transform: uppercase;
  color: inherit;
  font-size: 20px;
}
.logo-box p:last-child {
  margin-bottom: 0;
}


/*** Pricing Table Section ***/

.pricing-table-box {
  padding: 20px 30px;
  margin-bottom: 30px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.pricing-table-box h4 {
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
}
.table-price {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}
.right-part {
  padding-top: 15px;
  text-align: center;
}

.pricing-list li {
  line-height: 1.5;
  position: relative;
}
.pricing-list li + li {
  padding-top: 7px;
  margin-top: 6px;
}
.pricing-list li + li:after {
  width: 80%;
  content: '';
  display: block;
  border-bottom: 2px dashed #f0f0f0;
  position: absolute;
  left: 0;
  top: 0;
}
.pricing-list li.feature {
  padding-right: 15px;
  font-weight: 600;
}
.pricing-list li.feature:before {
  font-family:'FontAwesome';
  content: '\f05d';
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 1.1em;
  font-weight: 400; 
}
.pricing-list li + li.feature:before {
  top: 6px;
}

.pricing-table-box > .pricing-stars {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -15px;
  left: 0;
}
.pricing-stars > .fa {
  font-size: 24px;
}
.pricing-stars > .fa + .fa:not(:last-child) {
  font-size: 33px;
}

.pricing-masthead {
    border-bottom: 5px solid #f1f1f1;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -10px;
    padding: 0 30px 5px;
}
.pricing-masthead h4,
.pricing-masthead .pricing-stars,
.pricing-masthead .table-price {
  display: inline-block;
}
.pricing-masthead .pricing-stars {
  margin-left: 20px;
  margin-right: 10px;
}
.pricing-masthead .pricing-stars > .fa {
  font-size: 18px;
}
.pricing-masthead .pricing-stars > .fa + .fa:not(:last-child) {
  font-size: 24px;
}

.pricing-masthead .table-price {
  float: right;
}
.pricing-table-box .pricing-text {
  padding-top: 15px;
}
.pricing-text .pricing-list li + li:after {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}
.pricing-text .pricing-list li {
  padding-right: 0px;
}
.pricing-text .pricing-list li.feature:before {
  display: none;
}


.pricing-table-box.selected,
.pricing-table-box.selected h4 {
  color: #fff;
}
.selected .pricing-list li + li:after {
  border-bottom-color:rgba(255, 255, 255, 0.15);
}


/*** Package Selector Section ***/

.package-selector-form {
  text-align: center;
}
.package-selector-form > div + div,
.package-selector-form > div div + div,
.package-selector-form > div:last-child {
  margin-top: 15px;
}
.package-text-section div,
.package-selector-form .form-group {
  display: inline-block;
  vertical-align: middle;
}
.package-text-section div,
.package-selector-form .form-elements div {
  padding-left: 10px;
  padding-right: 10px;
}
.package-selector-form .form-elements {
  padding-right: 15px;
}

.package-selector-form .form-group,
.package-selector-form p {
  margin-bottom: 0;
}
.package-selector-form input[type="text"],
.package-selector-form input[type="email"],
.package-selector-form .select-package {
  height: 40px;
  padding: 10px 15px;
  display: inline-block;
  background-color: #fff;
  border: 0px;
  border-radius: 10px;
}
.package-selector-form input[type="text"],
.package-selector-form input[type="email"] {
  color: #787878;
}
.package-selector-form input[type="text"]:focus,
.package-selector-form input[type="email"]:focus {
  outline: 0px;
  -webkit-appearance: none;  
}

.package-selector-form input[type="submit"],
.package-selector-form button {
  height: 40px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-color: rgba(255,255,255,0.35);
  border: 0px;
  border-radius: 10px;
}
.package-selector-form input[type="submit"]:hover,
.package-selector-form button:hover {
  color: #fff;
}
.package-selector-form .select-package {
  padding: 10px 20px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.package-selector-form a,
.site-footer a {
  font-weight: 600;
}

/*** Site Footer ***/

.site-footer {
  padding: 30px 0px;
  color: #fff;
  text-align: center;
  background-color: #212526;
  position: relative;
}
.site-footer p {
  margin-bottom: 10px;
}
.site-footer a {
  color: inherit;
}
.site-footer .settings {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1;
  display: inline-block;
}
.social-icons li {
  margin: 0px 8px;
  display: inline-block;
}
.social-icons li a {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  color: rgba(255,255,255,0.5);
}
.social-icons li a:hover {
  color: rgba(255,255,255,1);
}
.social-icons li a {
  color: #4d5151;
}



/*** Blog Page
------------------------------------------------- ****/

/*** main-banner ***/

.main-banner {
  padding: 80px 0px;
}
.banner-contents {
  width: 100%;
  height: 100%;
  display: table;
}

/*** title-bar ***/

.title-bar {
  margin-bottom: 20px;
}
.title-bar h2 {
  margin-bottom: 0;
}

/*** blog-box ***/

.blog-box > .image {
  margin-bottom: 30px;
}
.meta-list li {
  display: inline-block;
}
.post-date {
  margin-bottom: 10px;
  color: #bdbdbd;
}

.blog-list {
  margin-bottom: 60px;
}
.blog-list > li {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.blog-list > li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.view-more {
	margin-bottom: 30px;
}

.blog-box-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #e8e9e9;
}

/*** social-bar ***/

.social-bar {
	margin-bottom: 30px;
	margin-top: 30px;
}
.social-bar * {
  line-height:20px;
  vertical-align:top !important;
}
.social-bar ul {
  margin:0px;
  padding:0px;
  list-style:none;
  display:inline-block;
}
.social-bar ul li {
  display:inline-block;
  margin:0 8px;
}
.social-bar ul li img {
  vertical-align:bottom;
}

/*** user-comments ***/

.user-comments-area {
  margin-bottom: 30px;
}
.user-comments-list {
  margin-bottom: 50px;
}
.user-comments-list li ul {
  padding-left: 20px;
}

.comment-box {
  margin-bottom: 30px;
}
.comment-box h5 a:hover {
  text-decoration: none;
}
.comment-box p {
  margin-bottom: 0;
}
.comment-time {
  color: #dedede;
  font-weight: 600;
}


/*** widgets
------------------------------------------------- ****/

.widget {
  margin-bottom: 30px;
}
.widget > header {
  padding-bottom: 3px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e8e9e9;
}
.widget.bg-primary > header {
  border-bottom-color: rgba(255,255,255,0.2);
}
.widget h4 a:hover,
.widget h5 a:hover,
.widget_archive li a:hover,
.widget-categ li a:hover {
  text-decoration: none;
}

/*** widget-recent-posts ***/
.widget-recent-posts > ul > li {
  padding: 10px 0px;
}
.widget-recent-posts .media > .media-left {
  padding-right: 22px;
}
.widget-recent-posts .media .media-body h5 {
  font-size: 15px;
  margin-bottom: 5px;
}
.widget-recent-posts .media .media-body p:last-child {
  margin-bottom: 0;
}

/*** widget-categ ***/
.widget-categ {
  padding: 25px 30px;
}
.widget-categ .widget-categ-form + ul,
.widget-categ ul + .widget-categ-form {
  margin-top: 30px;
}
.widget-categ-form .form-group:last-of-type {
  margin-bottom: 0px;
}
.widget-categ-form {
  position: relative;
}
.widget-categ-form input[type="text"],
.widget-categ-form input[type="search"] {
  width: 100%;
  height: 48px;
  padding: 6px 20px;
  border: 1px solid #e8e9e9;
  background-color: #fff;
  display: block;
  border-radius: 10px;
}
.widget-categ-form input[type="submit"] {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.bg-primary .widget-categ-form input[type="text"],
.bg-primary .widget-categ-form input[type="search"] {
  background-color: transparent;
  border-color: #fff;
}
.bg-primary .widget-categ-form input[type="text"]::-moz-placeholder,
.bg-primary .widget-categ-form input[type="search"]::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.bg-primary .widget-categ-form input[type="text"]:-ms-input-placeholder,
.bg-primary .widget-categ-form input[type="search"]:-ms-input-placeholder {
  color: #fff;
}
.bg-primary  .widget-categ-form input[type="text"]::-webkit-input-placeholder,
.bg-primary .widget-categ-form input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}