{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">SISeI</a></h1>
{% endblock %}

{% block nav-global %}

	<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

	<script>
		$(document).on('ready', function(){
			var no_control = $('#id_no_control');
			var nombre = $('#id_nombre');
			var apellidos = $('#id_apellido');
			var carrera = $('#id_carrera');
			
			$.get('/alumnos.json', function(resp){
				window.resp = resp;
				no_control.autocomplete({
					source: window.resp,
					select: function( event, ui ) {
						nombre.val('');
						apellidos.val('');
						carrera.val('');
						var nombres = ui.item.nombre.split(" ");
						for(var i = 0; i < nombres.length; i++){
							if( i < 2){
								apellidos.val( apellidos.val() + ' ' + nombres[i]);
							}else{
								nombre.val( nombre.val() + ' ' + nombres[i]);
							}
						}
						carrera.val( ui.item.carrera );
					}
				});
			});
		});
	</script>
{% endblock %}