{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Cargar CSV de Alumnos</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

	<style type="text/css" media="screen">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #eee;
		}

		.form-signin {
			max-width: 500px;
			padding: 15px;
			margin: 0 auto;
		}
	</style>
</head>
<body>

	<div class="container">

		<form class="form-signin" method="post" enctype="multipart/form-data">
			<center>
				<h2 class="form-signin-heading">Actualizar Alumnos</h2>

				<div class="form-group row">
					<label for="inputEmail3" class="col-sm-5 form-control-label">Archivo CSV</label>
					<div class="col-sm-6">
						<label class="file">
							<input type="file" id="file" name="archivo">
							<span class="file-custom"></span>
						</label>
					</div>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Subir archivo CSV</button>
				<span class="label label-info">Ultima Actualizacion: {{last}}</span>
			</center>
			{% csrf_token %}
		</form>

		<textarea class="form-control" style="height: 400px; min-height: 400px;">{{alumnos}}</textarea>

	</div>
	

	<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>